#child {
    height:500px;
    width:100%;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
    font-size: 150px;
}
/*

developed by Milesjohnson777
milesjohnsonwashere@gmail.com

*/
